<html>

<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/page2.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/responsive_page2.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/page3.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/responsive_page3.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

</head>

<body>
<div class="msite2-logo">
    <img src="{% static 'assets/image/site/nike-logo.png' %}" width="70" height="auto" alt="nike logo"/>
</div>
<form class="wufoo" name="merchantForm" action="{{urlipg}}" method="POST">
    {% csrf_token%}
    <div class="msite2-main-content">
        <div class="msite2-col-3">
            <div class="msite2-brand-text">brand 2</div>
            <div class="msite2-des-text">Some description about the product</div>
            <div class="msite2-line"></div>
        </div>
        <div class="msite2-col-4">
            <img src="{% static 'assets/image/site/shoep3.jpg' %}" alt="shoe1" width="auto" height="100%" id="img3"/>
        </div>
        <div class="msite2-col-2">
            <img src="{% static 'assets/image/site/shoep1.jpg' %}" alt="shoe1" width="auto" height="50%" id="img4"/>
            <img src="{% static 'assets/image/site/shoep2.jpg' %}" alt="shoe1" width="auto" height="50%" id="img5"/>
        </div>
        <div class="msite2-details">
            <div class="msite2-dtls-text">Enter Your Transaction Details</div>
            <div class="msite2-dtls-form">
                <table class="msite2-table">
                    <tbody>
                    <tr>
                        <td>Currency</td>
                        <td>
                            <select name="currencyCode" class="msite2-input">
                                <option value="144" selected>LKR</option>
                                <option value="155">USD</option>
                                <option value="166">EURO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Amout</td>
                        <td>
                            <input type="text" class="msite2-input" name="amount" value="100">
                        </td>
                    </tr>
                    <tr>
                        <td>Order ID</td>
                        <td>
                            <input type="text" name="orderid" value="54" class="msite2-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>
                            <input name="dateofregistry" class="msite2-input" value="2014-10-24" key="dateofregistry"
                                   id="dateofregistry" readonly="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Merchant Reference No</td>
                        <td>
                            <input type="text" class="msite2-input" readonly name="refno" value="test">
                        </td>
                    </tr>
                    <tr>
                        <td>Merchant</td>
                        <td>

                            <input type="text" class="msite2-input" name="merchantId" value=test>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="msite2-button-sec">
                <input type="button" class="msite2-but" value="Back" id="msite2-back"/>
                <!--<input type="submit" class="msite2-but" name="submit" value="Submit" >-->
                <input type="button" class="msite2-but" value="Submit" id="msite2-submit"/>
            </div>
        </div>
    </div>
    <div class="msite3-main-content" style="display:none">

        <div class="msite3-text">Select your credit card type</div>
        <div class="msite3-ca">

            <div class="msite3-col-3">
                <div class="msite3-master">
                    <input style="display: none" id="master_radio" type="radio" name="radio" class="styled"
                           value="MASTER"/>
                    <img src="{% static 'assets/image/cc/mastercard.svg' %}" width="100" height="auto"
                         alt="master"/>
                </div>
            </div>
            <div class="msite3-col-3">
                <div class="msite3-visa">
                    <input style="display: none" checked="true" type="radio" id="visa_radio" name="radio"
                           class="styled" value="VISA"/>
                    <img src="{% static 'assets/image/cc/visa%20(1).svg' %}" width="100" height="auto"
                         alt="master"/>
                </div>
            </div>
            <div class="msite3-col-3">
                <div class="msite3-amex">
                    <input style="display: none" type="radio" id="amex_radio" name="radio" class="styled"
                           value="AMEX"/>
                    <img src="{% static 'assets/image/cc/american-express.svg' %}" width="100" height="auto"
                         alt="master"/>
                </div>
            </div>
        </div>
        <div class="msite3-triangle">
            <div class="msite3-pos1">
                <img src="{% static 'assets/image/site/triangle.svg' %}" width="20" height="auto"/>
            </div>
        </div>

        {{generatehiddeninputs}}


        <div class="msite3-button-sec">
            <input type="button" class="msite3-but" value="Back" id="msite3-back"/>
            <input type="submit" value="Proceed" class="msite3-but"/>
            <!--<input type="button" class="msite3-but" value="Submit" id="msite3-submit"/>-->
        </div>

    </div>
</form>

<div class="msite2-footer">
    <img src="{% static 'assets/image/site/Nike-logo-orange.png' %}" alt="nikelogo" width="50" height="auto"/>
    <div class="msite2-textfooter"><span>NIKE</span> enterprises</div>
</div>

<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>

</body>

</html>